<section>
  <div class="container">
    <div class="feature">
      <img
        src="../../../../../assets/images/icons/best-seller (1).png"
        alt="star icon"
      />
      <p>Best Sellers</p>
    </div>

    <div class="feature">
      <img
        src="../../../../../assets/images/icons/books-stack-of-three.png"
        alt="new"
      />
      <p>New Releases</p>
    </div>

    <div class="feature">
      <img src="../../../../../assets/images/icons/pen-tool.png" alt="signed" />
      <p>Signed Additions</p>
    </div>

    <div class="feature">
      <img src="../../../../../assets/images/icons/audiobook.png" alt="audio" />
      <p>Audio Books</p>
    </div>

    <div class="feature">
      <img
        src="../../../../../assets/images/icons/free-shipping.png"
        alt="shipping"
      />
      <p>Free Shipping</p>
    </div>

    <div class="feature">
      <img
        src="../../../../../assets/images/icons/call-center.png"
        alt="support"
      />
      <p>24/7 customer support</p>
    </div>
  </div>
</section>
