<header class="header_section">
  <div class="container">
    <nav>
      <div class="flex">
        <app-auth-nav> </app-auth-nav>
      </div>
    </nav>
  </div>
  <nav>
    <div class="container">
      <a>
        <div
          style="
            width: 200px;
            display: flex;
            justify-content: space-around;
            align-items: center;
          "
        >
          <img
            src="../../../../assets/images/icons/bookstore.png"
            width="50px"
            height="50px"
            alt="books"
          />
          <span>Nino's Books</span>
        </div>
      </a>
      <button class="navbar-toggler" type="button">
        <img
          src="../../../../assets/images/icons/icons8-menu.gif"
          width="25px"
          height="25px"
          alt="hamburger menu"
        />
      </button>
      <div class="navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/fiction">Fiction</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLiunk="/bio">non Fiction</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Contact us</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />

          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>
