<header>
  <nav>
    <div class="flex">
      <app-auth-nav> </app-auth-nav>
    </div>
  </nav>

  <nav class="dark">
    <div class="flex justify">
      <a>
        <div
          style="
            width: 200px;
            display: flex;
            justify-content: space-around;
            align-items: center;
          "
        >
          <img
            src="../../../../assets/images/icons/bookstore.png"
            width="50px"
            height="50px"
            alt="books"
          />
          <h1>Nino's Books</h1>
        </div>
      </a>

      <button class="navbar-toggler" type="button">
        <img
          src="../../../../assets/images/icons/icons8-menu.gif"
          width="25px"
          height="25px"
          alt="hamburger menu"
        />
      </button>

      <ul class="navbar-nav flex justify">
        <li class="nav-item">
          <a class="nav-link" routerLink="/fiction">Fiction</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLiunk="/bio">non - Fiction</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Contact us</a>
        </li>
      </ul>

      <div class="search-container">
        <input class="search-field" type="search" placeholder="Search" />
        <button class="search">
          <a href="">
            <img
              src="../../../../assets/images/icons/icons8-search.gif"
              alt="search icon"
              width="30px"
            />
          </a>
        </button>
      </div>
    </div>
  </nav>
</header>
