<header class="header_section">
  <div class="container">
    <nav>
      <div class="flex">
        <app-auth-nav> </app-auth-nav>
      </div>
    </nav>
  </div>
  <nav>
    <div class="container">
      <a>
        <div
          style="
            width: 200px;
            display: flex;
            justify-content: space-around;
            align-items: center;
          "
        >
          <img
            src="../../../../assets/images/books.png"
            width="36px"
            height="36px"
            alt="books"
          />
          <span>Nino's Books</span>
        </div>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link pl-lg-0" href="index.html"
              >Home <span class="sr-only"></span
            ></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html"> About</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Categories
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Biography</a></li>
              <li><a class="dropdown-item" href="#">Textbooks</a></li>
              <li><a class="dropdown-item" href="#">Classics</a></li>
              <li><a class="dropdown-item" href="#">Detectives</a></li>
              <li><a class="dropdown-item" href="#">Children's Books</a></li>
              <li><a class="dropdown-item" href="#">Adventure</a></li>
              <li><a class="dropdown-item" href="#">Romance</a></li>
              <li><a class="dropdown-item" href="#">Contemporery</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blog.html"> Blog </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact Us</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>
