<footer>
  <div class="wrapper flex justify">
    <div class="socials">
      <div class="logo">
        <div
          style="
            width: 200px;
            display: flex;
            justify-content: space-around;
            align-items: center;
          "
        >
          <img
            src="../../../../assets/images/icons/bookstore.png"
            width="50px"
            height="50px"
            alt="books"
          />
          <h1>Nino's Books</h1>
        </div>
      </div>
      <p class="grey bigger-margin">
        Nino's Books believes in quality and efficiecy. Please contact us for
        any additional info or concerns
      </p>
      <div class="social-icons">
        <img
          src="../../../../assets/images/icons/001-facebook.png"
          alt="fb icon"
        />
        <img
          src="../../../../assets/images/icons/002-twitter.png"
          alt="twitter icon"
        />
        <img
          src="../../../../assets/images/icons/004-google-plus.png"
          alt="google-plus icon"
        />
      </div>
    </div>
    <div class="footer-links">
      <h3>useful links</h3>
      <ul class="footer-nav">
        <li class="footer-item"><a href="#">Blogs</a></li>
        <li class="footer-item"><a href="#">Events</a></li>
        <li class="footer-item"><a href="#">Gift Card</a></li>
        <li class="footer-item"><a href="#">Testimonials</a></li>
      </ul>
    </div>
    <div class="privacy footer-links">
      <h3>Privacy</h3>
      <ul class="footer-nav">
        <li class="footer-item"><a href="#">History</a></li>
        <li class="footer-item"><a href="#">About Us</a></li>
        <li class="footer-item"><a href="#">Contact Us</a></li>
        <li class="footer-item"><a href="#">Services</a></li>
      </ul>
    </div>
    <div class="contact-info">
      <h3>Contact Info</h3>
      <ul class="contact-list">
        <li class="contact-item">
          <i class="fa-regular fa-envelope"></i>
          <span>example@yahoo.com</span>
        </li>
        <li class="contact-item">
          <i class="fa-solid fa-phone"></i> <span>+0 320 422 4254</span>
        </li>
        <li class="contact-item">
          <i class="fa-solid fa-location-dot"></i>
          <span>Main Str Chicago Ilinois</span>
        </li>
      </ul>
    </div>
  </div>
</footer>
